

body {
	font-family: Ubuntu, sans-serif;
	background-image: url('flower.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

select {
	width: 324px;
	height: auto;
}

#main {
	width: 35%;
	margin: 0 auto;
	margin-top: 60px;
	border: dashed;
	border-color: white;
	border-width: 3px;
	border-radius: 10%;
	padding: 15px;
}

#main h2 {
	text-align: center;
}

#main li {
	list-style-type: none;
}

.inner {
	width: 65%;
	margin: 0 auto;
}

.bought-food {
  text-decoration: line-through;
  color: white;
}

.bought-beauty {
  text-decoration: line-through;
  color: blue;
}

.bought-home {
  text-decoration: line-through;
  color: brown;
}

.bought-other {
  text-decoration: line-through;
  color: purple;
}

.item-name {
	position: absolute;
	text-align: left;
}

.item-quantity {
	width: 35%;
	position: absolute;
	right: 0px;
	padding-right: 17%;
}

.item-type {
	width: 35%;
	position: absolute;
	right: 0px;
	padding-right: 5%;
}

